.content2{
    margin:0.75px;
    border:1px solid white;
    background-color: white; 
    
    box-shadow: 10px 10px 25px rgb(46, 45, 45);
    padding: 10px;
    width:25%;
    height:33.33%;
    float: left;
    margin-left:20px; 
    margin-bottom: 10px;
    margin-right: 25px;
}
.icon{
    color: rgba(0, 187, 255, 0.628);

     font-size: 32px; 
}